* {
  margin: 0;
  padding: 0;
}

.light-box {
  margin: 80px 0;
  text-align: center;
}

.lightbox-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.lightbox-img:not(:last-child) {
  padding-right: 10px;
  text-decoration: none;
}

.slick {
  margin-bottom: 80px;
  width: 100%;
  height: 400px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictures {
  width: 400px;
}

.pictures img {
  width: 350px;
  height: 280px;
  object-fit: cover;
}

.text-center {
  text-align: center;
  margin-bottom: 80px;
  overflow: hidden;
}

.maximum-characters {
  background-color: #f8f8f8;
  height: 150px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 80px;
}

.iuput-design {
  padding: 8px;
}

.name {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

.tooltipster {
  text-align: center;
  margin-bottom: 80px;
}

.superfish {
  overflow: hidden;
  width: 608px;
  margin: auto;
}

.superfish .sf-menu {
  margin-bottom: 300px;
}

.waypoints {
  background: #f8f8f8;
  height: 1280px;
  margin-bottom: 80px;
}

.waypoints ul,li {
  list-style: none;
}

.waypoints header {
  position: static;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.waypoints header.fix {
  position: fixed;
  top: 0;
}

.waypoints header ul {
  display: flex;
  justify-content: center;
}

.waypoints header li {
  padding: 10px;
  margin: 0 10px;
  border-bottom: solid 3px #fff;
}

.waypoints header li.recent {
  border-bottom: solid 3px #000;
}

.waypoints main {
  padding-top: 100px;
}

.waypoints .box {
  width: 640px;
  margin: 0 auto 80px;
}

.svg_box {
  padding: 80px 0;
  background: #000561;
  display: flex;
  justify-content: center;
  align-items: center;
}
